.ext-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; 
  background-color: hsl(180, 6%, 28%);
  color: #333;
  height: 550px; 
  overflow: hidden; 
  box-sizing: border-box;
}

.App {
  align-items: center;
  text-align: center;
  max-width: 90%; 
  width: 400px;
  height: 500px; 
  margin: 0 auto;
  padding: 20px; 
  background: #2B2C31;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
}

.dawg {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
  font-weight: bold;
  background: linear-gradient(90deg, rgb(74, 165, 240), #080808, rgb(74, 165, 240), #f1f3f1);
  background-size: 400%;
  background-clip: text; /* Add standard property */
  -webkit-background-clip: text; /* For Webkit-based browsers (Safari, Chrome) */
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 8s infinite;
  text-align: center;
  margin: 20px 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.h3-head {
  font-size: 1.2rem;
  color: #c9c8c8;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.scan-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(74, 165, 240);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
  margin-bottom: 7px;
}

.scan-btn:hover {
  background-color: #155ab6;
}

#dropdown-basic-button {
  font-size: 1rem;
  color: #fff;
  background-color: rgb(74, 165, 240);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 5px;
  margin-bottom: 10px;
}

#dropdown-basic-button:hover {
  background-color: #155ab6;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  color: #c9c8c8;;
}

strong {
  color: rgb(74, 165, 240);
}

p[style="color: red"] {
  color: #d32f2f !important;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  color: #c9c8c8;;
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none;
}

ul li strong {
  color: rgb(74, 165, 240);
}

.link {
  color: rgb(74, 165, 240);

}

ul li.missing-header {
  background-color: #c9c8c8;
  color: #d32f2f;
}

ul li.cookie {
  font-family: "Courier New", Courier, monospace;
  color: #c9c8c8;
}

.img {
  width: 180px;
  margin-bottom: 20px;
  border-radius: 15px;
}
